@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
	margin: 0;
	background: #0e1826;
	color: hsla(215, 20%, 78%, 0.5);
	font-family: "Inter", sans-serif;

	strong {
		font-weight: 400;
	}
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100vw;
	box-sizing: border-box;
	height: 100%;
	color: hsla(215, 20%, 78%, 0.5);

	& header {
		max-width: 500px;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 20px 20px 20px;
		line-height: 28px;
		text-align: center;
		gap: 16px;

		h1 {
			font-size: 24px;
			margin: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 600;
			color: hsla(215, 20%, 78%, 0.75);
		}
		p {
			font-size: 16px;
			margin: 0;
			font-weight: 400;
			letter-spacing: 0.3px;
		}
	}
}
.footer {
	font-size: 12px;
	text-align: center;
	padding: 0 40px 40px;
	letter-spacing: 0.3px;
	line-height: 1.6;
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}

.legend {
	font-size: 12px;
	display: flex;
	gap: 8px;
	margin-top: 16px;
	flex-wrap: wrap;
	max-width: 800px;
	box-sizing: border-box;
	margin-bottom: 8px;
}
.legend span {
	padding: 4px 8px;
}
#my-chart {
	width: 100%;
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}
svg text.country-label {
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;

}
svg text.team-label {
	font-size: 12px !important;
}
svg .year-label {
	font-size: 12px !important;
}
svg text.x-label {
	font-size: 12px;
	letter-spacing: 2px;
}

@media (max-width: 900px) {
	#matrixplot-container {
	}
}

@media (max-width: 600px) {
	#matrixplot-container {
	}
}
